:root{
  --background: black;
  --text-main: silver;
  --text-secondary: #555;
  --width: 60vw;
}

*{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  box-sizing: border-box;
}

html, body{
  background-color: var(--background);
}

.container{
  margin: auto;
  border: .25px solid var(--text-secondary);
  width: var(--width);
}

.status-bar{
  padding:5px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 1px solid grey;
  color: var(--text-secondary);

}

.output{
  height: calc(100vh - 6em);
  border: .25px solid var(--text-secondary);
  color: var(--text-main);
  overflow-x: hidden; 
  overflow-anchor: none;
  overflow: auto;

}
.output > p{
  display:block;
  text-align: left;
}





.console-grid{
  display: grid;
  grid-template-columns: 18px auto;
  grid-gap: .25em;
  align-items: center;
  color: var(--text-main);
}



.input{
  background-color: var(--background);
  color: var(--text-main);
  outline: 0;
  border: 0;
}




.important{
  font-weight: bold;
  color: aquamarine;
}


.input-message{
  color: var(--text-secondary);
}

.input-button{
  height: 3em;
  width: 6em;
  background-color: var(--text-main);
  display: none;
  text-align: center;
}

.input-button:hover{
  background-color: var(--text-secondary);
}

.input-button > p{
  margin: .75em auto;
}


@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  :root{
    --width: 96vw;
  }
  .console{
    height: 3em;
  }
  .console{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .console-grid{
    width: calc(96vw - 3em);
  }
  .input-button{
    display:block;
  }

  
}

