:root{
  --background: black;
  --text-main: silver;
  --text-secondary: #555;
}

*{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;

}




html, body{
  background-color: var(--background);
}

.container{
  margin: auto;
  border: .25em solid blue;
  width: 70vw;

}

.consoleColour{
  background-color: var(--background);
}

.globalPadding{
  padding: .5em;
}


.important{
  font-weight: bold;
  color: aquamarine;
}


#outputcontainer{
  height: 90vh;
  border: .25em solid red;
  color: var(--text-main);
  overflow-x: hidden; 
  overflow-anchor: none;
  overflow: auto;

}

#anchor {
  overflow-anchor: auto;
}

#statusBar{
  padding:5px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border: 1px solid grey;
  color: var(--text-secondary);

}

#console{
  position: absolute;
  bottom:0;
  width:70vw;
  border: .25em solid blue;
}


#consoleGrid{
  display: grid;
  grid-template-columns: 18px auto;
  grid-gap: .25em;
  align-items: center;
  color: var(--text-main);
}

#input{
  color: var(--text-main);
  outline: 0;
}

#inputMessage{
  color: var(--text-secondary);
}




@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .container{
    width: 100vw;

  }
  #console{

    width:100vw;

  }

}

